= simple_form_for @admin_company do |f|
  = f.input :title
  = f.input :phone, input_html: {name: 'admin_company[phone][]'}
  = f.input :description
  .form-group
    = f.file_field :logo
    = f.hidden_field :logo_cache
  .form-group
    = f.number_field :category_id
  = f.button :submit, 'Save'
