= simple_form_for @company, url: [:admin, @company] do |f|
  = f.association :category
  = f.input :title
  = f.input :logo, as: :file, class: 'btn btn-default'
  = f.hidden_field :logo_cache

  = f.input :email
  - if @company.phones.empty?
    %div
      = f.input :phones, input_html: {name: 'company[phones][]', value: ''}
      .pull-right.btn.btn-danger{name: 'remove_phone'} Remove phone
  - else 
    - @company.phones.each do |p|
      .form-group
        = f.input :phones, input_html: {name: 'company[phones][]', value: p}
        .pull-right.btn.btn-danger{name: 'remove_phone'} Remove phone
  .btn.btn-success{name: 'add_phone'} Add phone

  = f.input :description, as: :text

  = f.button :submit, 'Save', class: 'btn btn-success'
