%h1 Listing admin_companies

%table
  %tr
    %th Title
    %th Phone
    %th Description
    %th Category
    %th
    %th
    %th

  - @admin_companies.each do |admin_company|
    %tr
      %td= admin_company.title
      %td= admin_company.phone
      %td= admin_company.description
      %td= admin_company.category_id
      %td= link_to 'Show', admin_company, class: 'btn btn-info'
      %td= link_to 'Edit', edit_admin_company_path(admin_company), class: 'btn btn-info'
      %td= link_to 'Destroy', admin_company, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-info'

%br

= link_to 'New Company', new_admin_company_path, class: 'btn btn-info'
