.companies
  - @companies.each do |company|
    .row
      .col-xs-12
        = image_tag(company.logo.thumb.url, class: 'img-thumbnail')
        .title
          = company.title
        %p.description
          = company.description
        .phones
          - company.phone.each do |phone|
            %a{href: 'tel:'+phone}
              %i.glyphicon.glyphicon-earphone 
              = phone
  .text-center
    = link_to 'Назад', root_url, {class: 'home btn btn-default'}