%h1 Listing companies

%table.table
  %tr
    %th
    %th Title
    %th Phone
    %th Description
    %th Category
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= image_tag(company.logo.thumb.url)
      %td= company.title
      %td= company.phones
      %td= company.description
      %td= company.category.title
      %td= link_to 'Show', company, class: 'btn btn-info'
      %td= link_to 'Edit', edit_company_path(company), class: 'btn btn-info'
      %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-info'

%br

= link_to 'New Company', new_company_path, class: 'btn btn-info'
