.navbar.navbar-inverse.navbar-fixed-top.gradient{role: 'navigation'}
  .container
    %a.pull-left{href: root_url}
      %i.glyphicon.glyphicon-home

    %a.pull-right{href: category_path(@company.category)}
      %i.glyphicon.glyphicon-arrow-left

.company
  .row
    .col-xs-12
      = image_tag(@company.logo.thumb.url, class: 'img-thumbnail')
      .title= @company.title
  - @company.phones.each do |phone|
    .row
      .col-xs-12
        %a.sms{href: 'sms://'+phone }
        %a.call{href: 'tel:'+phone}
        .text-center.phone= number_to_phone(phone, area_code: true)
  .row.description
    .col-xs-12
      %h1 ОПИСАНИЕ СЛУЖБЫ
      %p= @company.description
    .text-center
      = mail_to('info@skylogic.com.ua') do
        %button.feedback.col-xs-12.btn.btn-default Написать разработчикам
