%p#notice= notice

%p
  %b Title:
  = @company.title
%p
  %b Phones:
  = @company.phones
%p
  %b Description:
  = @company.description
%p
  %b Category:
  = @company.category

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
