%h1 Listing categories

%table.table
  %tr
    %th 
    %th Title
    %th Phone
    %th Description
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= image_tag(category.logo.thumb.url)
      %td= category.title
      %td= category.phone
      %td= category.description
      %td= link_to 'Show', admin_category_path(category), class: 'btn btn-info'
      %td= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-info'
      %td= link_to 'Destroy', admin_category_path(category), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-info'

%br

= link_to 'New Category', new_admin_category_path, class: 'btn btn-info'
